<div>
   <label class="space-y d-block">
      Convert from 
      <select name="currencies" (change)="fromCurrencyChange($event)" value="{{convertFromCurrency}}">
         <option 
            *ngFor="let key of getCurrenciesListKeys()" 
            value="{{key}}"
            [attr.selected]="this.convertFromCurrency == key ? 'checked' : null"
         >
            {{ currenciesList[key] }}
         </option>
      </select>
   </label>
   
   
   <label class="space-y d-block">
      Convert from
      <select name="currencies" (change)="toCurrencyChange($event)" value="{{convertToCurrency}}">
         <option 
            *ngFor="let key of getCurrenciesListKeys()" 
            value="{{key}}"
            [attr.selected]="this.convertToCurrency == key ? 'checked' : null"
         >
            {{ currenciesList[key] }} 
         </option>
      </select>
   </label>



   <label class="space-y d-block">Convert Amount: 
      <input 
         type='number' 
         min='0' 
         minvalue='0' 
         (input)="this.inputValueChangeHandler($event)" value="1">
   </label>

   <div class="space-y display-result">
      {{ displayResultText }}
   </div>

   <button class="btn btn-primary space-y space-x" (click)="getConvertData()">CONVERT</button>
   <button class="btn btn-primary space-y space-x" (click)="switchCurrencies()">SWITCH</button>
   
   
</div>